<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Alertans</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="alerts">
            <!--alertas -->
            <script th:if="${loginError}" type="text/javascript">
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Usuario o contraseña incorrecto!',
                    showConfirmButton: false,
                    timer: 5000
                });
            </script>
            <script th:if="${newUser}" type="text/javascript">
                Swal.fire({
                    icon: 'success',
                    title: 'Usuario creado correctamente',
                    text: 'Ya puedes iniciar sesión',
                    showConfirmButton: false,
                    timer: 3500
                });
            </script>
            <script th:if="${datosModificados}" type="text/javascript">
                Swal.fire({
                    icon: 'success',
                    title: 'Los datos se modificaron correctamente',
                    showConfirmButton: false,
                    timer: 3500
                });
            </script>
            </script>
            <script th:if="${datosModificadosErrorEmail}" type="text/javascript">
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'El email ingresado es incorrecto o ya existe en el sistema!'
                });
            </script>
            <script th:if="${passwordCamposError}" type="text/javascript">
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Las contraseñas ingresadas son distintas!'
                });
            </script>
            <script th:if="${passwordInvalida}" type="text/javascript">
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'La contraseña ingresada es inválida!'
                });
            </script>

            <script th:if="${servicioCreado}" type="text/javascript">
                Swal.fire({
                    icon: 'success',
                    title: 'El servicio fue creado correctamente',
                    showConfirmButton: false,
                    timer: 3500
                });
            </script>

            <script th:if="${servicioModificado}" type="text/javascript">
                Swal.fire({
                    icon: 'success',
                    title: 'El servicio fue modificado correctamente',
                    showConfirmButton: false,
                    timer: 3500
                });
            </script>


            <script th:if="${servicioEliminado}" type="text/javascript">
                Swal.fire({
                    icon: 'success',
                    title: 'El servicio fue eliminado',
                    showConfirmButton: false,
                    timer: 3500
                });
            </script>

            <script th:if="${imagenModificada}" type="text/javascript">
                Swal.fire({
                    icon: 'success',
                    title: 'La imagen fue modificada con éxito',
                    showConfirmButton: false,
                    timer: 3500
                });
            </script>

            <script th:if="${imagenGuardada}" type="text/javascript">
                Swal.fire({
                    icon: 'success',
                    title: 'La imagen fue guardada con éxito',
                    showConfirmButton: false,
                    timer: 3500
                });
            </script>
            <script th:if="${imagenEliminada}" type="text/javascript">
                Swal.fire({
                    icon: 'success',
                    title: 'La imagen fue eliminada',
                    showConfirmButton: false,
                    timer: 3500
                });
            </script>

            <script th:if="${imagenMinima}" type="text/javascript">
                Swal.fire({
                    icon: 'error',
                    title: 'La imagen no fue eliminada',
                    text: 'Es necesario que exista al menos una imagen'
                });
            </script>


            <script th:if="${imagenModificadaError}" type="text/javascript">
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'El formato de la imagen es inválido!'
                });
            </script>

            <script th:if="${mensajeEnviado}" type="text/javascript">
                Swal.fire({
                    icon: 'success',
                    title: 'El mensaje fue enviado con éxito',
                    showConfirmButton: false,
                    timer: 3500
                });
            </script>


            <script th:if="${sesionExpirada}" type="text/javascript">
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'La sesión finalizo al no detectar actividad!'
                });
            </script>

            <script th:if="${reporteEnviado}" type="text/javascript">
                Swal.fire({
                    icon: 'success',
                    title: 'Gracias por enviar el reporte, revisaremos el servicio',
                    showConfirmButton: false,
                    timer: 4500
                });
            </script>


            <script th:if="${enlaceEnviado}" type="text/javascript">
                Swal.fire({
                    icon: 'info',
                    title: 'Se envió el enlace de restablecimiento correctamente',
                    text: 'Si no encuentre el mensaje en la bandeja de entrada revise en la sección de Spam!',
                    showConfirmButton: true
                });
            </script>

            <script th:if="${enlaceEnviado} == false" type="text/javascript">
                Swal.fire({
                    icon: 'error',
                    title: 'Algo salió mal.',
                    text: 'Verifica que el email ingresado sea correcto!'
                });
            </script>

            <script th:if="${tokenInvalido}" type="text/javascript">
                Swal.fire({
                    icon: 'error',
                    title: 'Token invalido.',
                    text: 'El enlace es inválido o ya expiro!'
                });
            </script>

            <script th:if="${passwordRestablecida}" type="text/javascript">
                Swal.fire({
                    icon: 'success',
                    title: 'La contraseña fue restablecida con éxito',
                    text: 'ya puede iniciar sesión!',
                    showConfirmButton: true
                });
            </script>


        </section>
    </body>
</html>
