<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YC6DEEEBD4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-YC6DEEEBD4');
        </script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/carousel/">
                    <link href = "https://fonts.googleapis.com/css2? family = Rokkitt & display = swap" rel = "stylesheet">
                        <link href = "https://fonts.googleapis.com/css2? family = Caladea: ital @ 1 & display = swap" rel = "stylesheet">
                            <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|PT+Sans" rel="stylesheet">
                                <link href="https://fonts.googleapis.com/css2?family=Alike&family=Great+Vibes&family=Old+Standard+TT:ital@1&display=swap" rel="stylesheet">
                                    <link rel="preconnect" href="https://fonts.gstatic.com">
                                        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
                                            <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&display=swap" rel="stylesheet">
                                                <link rel="stylesheet" th:href="@{css/css.css}" type="text/css">
                                                    <link rel="stylesheet" th:href="@{/webjars/animate.css/4.1.1/animate.min.css}" type="text/css">
                                                        <link rel="stylesheet" th:href="@{/webjars/github-com-lokesh-lightbox2/2.8.2/css/lightbox.min.css}" type="text/css">
                                                            <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.21/css/dataTables.bootstrap4.min.css}" type="text/css">
                                                                <link rel="stylesheet" th:href="@{/webjars/sweetalert2/10.10.4/dist/sweetalert2.min.css}" type="text/css">
                                                                    <script th:src="@{/webjars/sweetalert2/10.10.4/dist/sweetalert2.min.js}"></script>
                                                                    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}" type="text/css">
                                                                        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
                                                                            <link th:href="@{/css/carrousel.css}" rel="stylesheet">
                                                                                <link rel="stylesheet" th:href="@{/css/css.css}" type="text/css">


                                                                                    <title>Servicios.com</title>
                                                                                    </head>
                                                                                    <body>

                                                                                        <section th:fragment="footer">
                                                                                            <!-- Footer -->
                                                                                            <footer class=" d-flex justify-content-center py-3" id="footer">
                                                                                                    <span >©2020 Copyright: <a th:href="@{/}"  class="text-success "> Servicios.com</a></span>  
                                                                                                    <a th:href="@{/contacto}"  class=" text-light  contacto ml-5"><i class="fas fa-inbox"></i> Contacto</a>
                                                                                            </footer>
                                                                                            <!-- Optional JavaScript -->
                                                                                            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                                                                                            <script th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script> 
                                                                                            <script th:src="@{/webjars/vanilla-tilt.js/dist/vanilla-tilt.min.js}"></script>
                                                                                            <script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
                                                                                            <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
                                                                                            <script th:src="@{/webjars/github-com-lokesh-lightbox2/2.8.2/js/lightbox.min.js}"></script>
                                                                                            <script th:src="@{/webjars/datatables/1.10.21/js/jquery.dataTables.min.js}"></script>
                                                                                            <script th:src="@{/webjars/datatables/1.10.21/js/dataTables.bootstrap4.min.js}"></script>
                                                                                            <script type="text/javascript" th:src="@{/js/js.js}"></script>
                                                                                        </section>

                                                                                    </body>
                                                                                    </html>
