<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <head>
            <title>header y filtros</title>
            <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    </head>
                    <body>
                        <section th:fragment="headerAndFilters" >
                            <form th:action="@{/listaPorFiltros}" method="GET"  th:object="${filtro}">
                                <header>
                                    <nav class="navbar navbar-light bg-dark" id="nav-lista">
                                        <a th:href="@{/}" class="volver "><h1 class=" text-right titulo text-success titulobuscador">Serviciosar.com</h1></a>
                                        <div class="form-inline">
                                            <input id="mensaje"  th:if="*{nombre != ''}" class="form-control mr-sm-2" name="nombre" th:field="*{nombre}" type="search" aria-label="Search"  >
                                                <input   id="mensaje"  th:if="*{nombre == ''}" class="form-control mr-sm-2" name="nombre"  type="search" placeholder="Busque un Servicio" aria-label="Search"  >
                                                    <button class="btn btn-outline-success my-2 my-sm-1 btn-nav-buscador" type="submit">Buscar</button>
                                                    </div>
                                                    <h1 class="titulo text-success">Serviciosar.com</h1>
                                                    </nav>
                                                    </header>
                                                    <section class="filtros">
                                                        <!-- Filtros -->
                                                        <div >
                                                            <a class="btn btn-outline-success btn-filtros " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                                Filtros
                                                            </a>
                                                            <a   th:if="${#httpServletRequest.requestURI == '/listaPorFiltros'} and ${!sinServicios}"  class="btn btn-danger btn-filtros text-light"  role="button" th:href="@{/listaServicios}">
                                                                Borrar filtros
                                                            </a>
                                                        </div>
                                                        <div class="container-fluid clearfix contenedor-filtros mt-3 collapse"  id="collapseExample">
                                                            <div class="d-flex justify-content-between mt-2 ml-4 mr-4 font-italic" id="contenedor-filtros">
                                                                <div class=" mb-4 locaclidad">
                                                                    <label for="validationDefault04" class="labelbuscador">Provincia:</label>
                                                                    <select class="custom-select  buscadorciudad " name="provincia" id="listaProvincias"  onclick="mostrarListado()" >
                                                                        <option selected  value="">No especificar</option>
                                                                        <option  th:each="provincias: ${provincias}"  th:value="${provincias.id}" th:text="${provincias.nombre}" ></option>
                                                                    </select>
                                                                    <label for="validationDefault04" class="labelbuscador mt-2">Departamento o Localidad:</label>
                                                                    <select class="custom-select buscadorciudad" name="departamento"   id="listaDepartamentos" >
                                                                        <option selected  value="">No especificar</option>

                                                                    </select>
                                                                </div>
                                                                <div class="mb-4" >
                                                                    <label for="validationDefault04">Horario Disponible:</label>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="horario" id="exampleRadios1" value="Part Time"   >
                                                                            <label class="form-check-label" for="exampleRadios1">
                                                                                Part Time
                                                                            </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="horario" id="exampleRadios2" value="Full Time" >
                                                                            <label class="form-check-label" for="exampleRadios2">
                                                                                Full Time
                                                                            </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="horario" id="exampleRadios3" value="No especificar" checked  >
                                                                            <label class="form-check-label" for="exampleRadios3">
                                                                                No especificar
                                                                            </label>
                                                                    </div>
                                                                </div>
                                                                <div class="precioFiltro">
                                                                    <div class="rangoPrecio">
                                                                        <label for="customRange1">Precio Máximo:</label>
                                                                        <input type="range"  name="rangoPrecio"  class="custom-range"  id="precio" min="0" max="10000" value="0"  onchange="checkDisabled()">
                                                                            $<span class="preFiltro" id="pre">0</span>
                                                                    </div>
                                                                    <div class="form-check rangoSinPrecio">
                                                                        <input class="form-check-input" type="checkbox" value="" id="rangoSinPrecio"  checked>
                                                                            <label class="form-check-label" for="defaultCheck1">
                                                                                No especificar
                                                                            </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-success  btnfiltros" type="submit">Aplicar</button>
                                                        </div>
                                                    </section>
                                                    </form>
                                                    </section>

                                                    <section th:fragment="allServicios" >
                                                        <div class="container ajustar-lista" id="contenedor-card">
                                                            <div th:if="${!list.isEmpty()}">
                                                                <div th:if="${sinServicios}" class="alert alert-danger text-center fade show mt-4" role="alert">
                                                                    Lo sentimos no se encontraron servicios con los datos ingresados
                                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <ul th:each="servicio, iStat: ${list}" class="list-group">
                                                                    <li class="list-group">
                                                                        <div class="row">
                                                                            <div class="card">
                                                                                <div class="card-header">
                                                                                    <h3 class="text-capitalize titulo-servicio text-break"   style="font-family: 'DM Serif Text', serif;" th:text="${servicio.nombre}">Nombre del servicio</h3>
                                                                                </div>
                                                                                <table class="table table-stryped">
                                                                                    <thead class="thead-dark">
                                                                                        <tr>
                                                                                            <th class="titulo-card">Descripción:</th>
                                                                                            <th class="titulo-card">Datos:</th>
                                                                                            <th class="titulo-card">Fotos:</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr id="card-responvie">
                                                                                            <td>
                                                                                                <h5 class="card-title titulo-card-responsive">Descripción:</h5>
                                                                                                <article class="text-justify m-0 descripcion-servicio text-break" lang="en">
                                                                                                    <p   th:text="${servicio.descripcion}" style="hyphens: auto; ">Descripción</p>
                                                                                                </article>
                                                                                                <a class="position-absolute fixed-bottom m-2 text-secondary " id="reportar" href="#"  data-toggle="modal" data-target="#modalReportar" >Reportar</a>
                                                                                                <!-- Modal Reporte -->
                                                                                                <div class="modal fade" id="modalReportar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                                                                    <div class="modal-dialog" role="document">
                                                                                                        <div class="modal-content">
                                                                                                            <div class="modal-header bg-dark text-light">
                                                                                                                <h5 class="modal-title" id="staticBackdropLabel">Reportar Servicio</h5>
                                                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                                                    <span aria-hidden="true">&times;</span>
                                                                                                                </button>
                                                                                                            </div>
                                                                                                            <form method="POST" th:action="@{/enviarReporte}">
                                                                                                                <div class="modal-body">
                                                                                                                    <div class="input-group mb-3">
                                                                                                                        <label class="input-group-text" for="inputGroupSelect01">Opciones</label>
                                                                                                                        <select name="tipo" class="form-select" id="select-reporte" style="width: 350px;" required>
                                                                                                                            <option selected>Elija una opción</option>
                                                                                                                            <option value="Contenido inapropiado">Contenido inapropiado</option>
                                                                                                                            <option value="Contenido dudoso">Contenido dudoso</option>
                                                                                                                            <option value="Datos falsos">Datos falsos</option>
                                                                                                                            <option value="Otro">Otro</option>
                                                                                                                        </select>
                                                                                                                    </div>
                                                                                                                    <div class="input-group" id="text-area-reporte">
                                                                                                                        <div class="form-floating">
                                                                                                                            <textarea  name="textReporte" class="form-control"  placeholder="Cuentanos la razon por la que decis reportar este servicio. Tu comentario es totalmente anonimo" id="floatingTextarea"style="width: 450px;" ></textarea>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <input type="hidden" name="idServicio" th:value="${servicio.idServicio}"/>
                                                                                                                <div class="modal-footer bg-dark">
                                                                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                                                                                    <button type="submit" class="btn btn-primary btn btn-success">Enviar Reporte</button>
                                                                                                                </div>
                                                                                                            </form>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                <h5 class="card-title titulo-card-responsive">Datos:</h5>
                                                                                                <div class="datos-div d-flex flex-column bd-highlight" >
                                                                                                    <p class=" text-break"  th:text="'Email: ' + ${servicio.email}" >email</p>
                                                                                                    <p  class=" wsp-cel" th:if="${servicio.whatsapp} == true"  th:text="'Celular: ' +${servicio.celular}">Celular</p>
                                                                                                    <p th:if="${servicio.whatsapp}== false"class="mb-2"  th:text="'Celular: ' +${servicio.celular}">Celular</p>
                                                                                                    <p   th:text="'Horario: ' + ${servicio.horario}"> Horario</p>
                                                                                                    <p th:if="${servicio.precio} != null" th:text="'Precio: ' + '$'+ ${servicio.precio}  + ' ' +${servicio.precioDescripcion}">Precio</p>
                                                                                                    <p th:if="${servicio.precio} == null" th:text="'Precio: '  + ' ' +${servicio.precioDescripcion}">Precio</p>
                                                                                                    <span th:each="usuario, iStat: ${usuarios}"  th:if="${servicio.idUsuario} == ${usuario.idUsuario} ">
                                                                                                        <p class=" text-capitalize" th:text="'Provincia: ' + ${usuario.provincia}">Provincia</p><p class="datos-tabla text-capitalize" th:text="'Departamento: ' + ${usuario.departamento}" >Departamento</p>
                                                                                                        <p class=" text-capitalize text-break" th:text="'Usuario: ' + ${usuario.nombre} + ' ' + ${usuario.apellido}">Usuario</p>
                                                                                                    </span>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                <h5 class="card-title titulo-card-responsive">Fotos:</h5>
                                                                                                <div th:id="'carrusel'+${iStat.index}" class="carousel  m-0  " data-ride="carousell" data-interval="false"  >
                                                                                                    <div class="carousel-inner clearfix">
                                                                                                        <div  th:each="file, iterstat : ${servicio.filess}"  class="carousel-item  slider" th:class="${iterstat.index}!=0 ? 'carousel-item slider':'carousel-item slider active'">
                                                                                                            <a th:href="*{'data:image/jpg;base64,' + file.url}" th:data-lightbox="'photos'+${iStat.index}" class="img-slider"><img th:src="*{'data:image/jpg;base64,'+ file.url}" class="d-block " alt="${servicio.nombre}"></a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <a class="carousel-control-prev" th:href="'#carrusel'+${iStat.index}" role="button" data-slide="prev">
                                                                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                                                        <span class="sr-only">Previous</span>
                                                                                                    </a>
                                                                                                    <a class="carousel-control-next" th:href="'#carrusel'+${iStat.index}" role="button" data-slide="next">
                                                                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                                                        <span class="sr-only">Next</span>
                                                                                                    </a>
                                                                                                    <p class="text-secondary text-center mb-0">click en el centro de la imagen para ampliar</p>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <section th:fragment="pagination" >
                                                        <nav aria-label="Page navigation example">
                                                            <ul class="pagination justify-content-center">
                                                                <li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
                                                                    <a th:if="${#httpServletRequest.requestURI == '/listaServicios'}"  class="page-link" th:href="@{|/listaServicios?page=${prev}|}">Anterior</a>
                                                                    <a th:if="${#httpServletRequest.requestURI == '/listaPorNombre'}"  class="page-link" th:href="@{|/listaPorNombre?nombre=${filtro.nombre}(page=${prev})}">Anterior</a>
                                                                    <a th:if="${#httpServletRequest.requestURI == '/listaPorFiltros'}"  class="page-link" th:href="@{|/listaPorFiltros?nombre=${filtro.nombre}&provincia=${provinciaFiltro}&departamento=${filtro.departamento}&horario=${filtro.horario}&rangoPrecio=${filtro.precio}(page=${prev})}">Anterior</a>
                                                                </li>
                                                                <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
                                                                    <a th:if="${#httpServletRequest.requestURI == '/listaServicios'}"class="page-link" th:href="@{|/listaServicios?page=${page}|}" th:text="${page}"></a>
                                                                    <a th:if="${#httpServletRequest.requestURI == '/listaPorNombre'}"class="page-link" th:href="@{|/listaPorNombre?nombre=${filtro.nombre}(page=${page})}" th:text="${page}"></a>
                                                                    <a th:if="${#httpServletRequest.requestURI == '/listaPorFiltros'}"class="page-link" th:href="@{|/listaPorFiltros?nombre=${filtro.nombre}&provincia=${provinciaFiltro}&departamento=${filtro.departamento}&horario=${filtro.horario}&rangoPrecio=${filtro.precio}(page=${page})}" th:text="${page}"></a>
                                                                </li>
                                                                <li  class="page-item" th:classappend="${current == last ? 'disabled': ''}">
                                                                    <a  th:if="${#httpServletRequest.requestURI == '/listaServicios'}" class="page-link" th:href="@{|/listaServicios?page=${next}|}">Siguiente</a>
                                                                    <a  th:if="${#httpServletRequest.requestURI == '/listaPorNombre'}" class="page-link" th:href="@{|/listaPorNombre?nombre=${filtro.nombre}(page=${next})}">Siguiente</a>
                                                                    <a  th:if="${#httpServletRequest.requestURI == '/listaPorFiltros'}" class="page-link" th:href="@{|/listaPorFiltros?nombre=${filtro.nombre}&provincia=${provinciaFiltro}&departamento=${filtro.departamento}&horario=${filtro.horario}&rangoPrecio=${filtro.precio}(page=${next})}">Siguiente</a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </section>
                                                    </body>
                                                    </html>
