<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/headFooter :: head">
        <body>
            <title>TODO supply a title</title>
            <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    </head>
                    <body>
                         <section th:replace="layout/headers :: headerEdicionUsuariosAdmin"></section>
                       <section th:replace="layout/formEdicionUsuarioAdmin :: formEdicionUsuarioAdmin"></section>
                        <footer th:replace="layout/headFooter :: footer"></footer>
                        <section th:replace="layout/scriptProvinciasDepartamentos :: provinciasDepartamentos"></section>
                    </body>
                    </html>
