<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/headFooter :: head">
    <body>
         <header th:replace="layout/headers :: headerDatosUsuario"></header>
        <section th:replace="layout/datosUsuario :: datosUsuario"></section>
        <section th:replace="layout/modals :: ModalModificarNombre"></section>
        <section th:replace="layout/modals :: ModalModificarApellido"></section>
        <section th:replace="layout/modals :: ModalModificarProvDep"></section>
        <section th:replace="layout/modals :: ModalModificarEmail"></section>
        <section th:replace="layout/modals :: ModalModificarPassword"></section>
        <footer th:replace="layout/headFooter :: footer"></footer>
        <section th:replace="layout/scriptProvinciasDepartamentos :: provinciasDepartamentos"></section>
    </body>
</html>
