<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/carousel/">
        <link href = "https://fonts.googleapis.com/css2? family = Rokkitt & display = swap" rel = "stylesheet">
        <link href = "https://fonts.googleapis.com/css2? family = Caladea: ital @ 1 & display = swap" rel = "stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|PT+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alike&family=Great+Vibes&family=Old+Standard+TT:ital@1&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{css/css.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/webjars/animate.css/4.1.1/animate.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/webjars/sweetalert2/10.10.4/dist/sweetalert2.min.css}" type="text/css">
        <script th:src="@{/webjars/sweetalert2/10.10.4/dist/sweetalert2.min.js}"></script>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link th:href="@{/css/carrousel.css}" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/css.css}" type="text/css">
    </head>
    <body>
        <header>
          <nav class="navbar navbar-light bg-dark " id="nav-simple">
                <a th:href="@{/}" class="volver tituloRegistroUsuario order-1"><h1 class="  titulo text-success">Servicios.com</h1></a>
                <h1 class="text-light  titulo-nav-simple order-2">Editar Servicio</h1>
                <a th:href="@{/}" class="volver tituloRegistroUsuario order-3"><h1 class="  titulo text-success">Servicios.com</h1></a>
            </nav>
        </header>
        <div class="container-md formulario">
            <form class="was-validated" th:action="@{/guardarServicioEditado}" method="POST" th:object="${servicio}" >
                <input type="hidden" name="idServicio" th:field="*{idServicio}"/>
                <div class="form-group">
                    <label for="nombre">Nombre Del Servicio:</label>
                    <input type="text" class="form-control" name="nombre" th:field="*{nombre}" required>
                </div>
                <div class="form-group">
                    <label for="celular">Celular:</label>
                    <input type="tel" class="form-control" name="celular" th:field="*{celular}" required>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input text-secondary" name="whatsapp" id="whatsapp" th:field="*{whatsapp}">
                    <label class="form-check-label text-secondary" for="exampleCheck1">WhatsApp</label>  <i class="fa fa-whatsapp " aria-hidden="true"></i>
                </div>
                <div class="form-group">
                    <label for="email">Email de contacto:</label>
                    <input type="email" class="form-control" name="email" th:field="*{email}" required>
                </div>
                <label for="precio">Precio por el servicio:</label>
                <div class="input-group mb-3 form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input  th:if="*{precioDescripcion == 'A acordar con el cliente'}" type="number" name="precio" class="form-control novalidate" id="precioNo" th:field="*{precio}" disabled>
                    <input  th:if="*{precioDescripcion != 'A acordar con el cliente'}" type="number" name="precio" class="form-control novalidate" id="precioNo" th:field="*{precio}" >
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <div class="form-group required" >
                    <div class="form-check form-check-inline" >
                        <input  class="form-check-input" type="radio" value="Por Hora" name="precioDescripcion" th:field="*{precioDescripcion}" id="inlineRadio1" onclick="habilitar()" >
                        <label class="form-check-label novalidate" for="inlineRadio1">Por Hora</label>
                    </div>
                    <div class="form-check form-check-inline ">
                        <input class="form-check-input" type="radio" value="Por Dia" name="precioDescripcion" th:field="*{precioDescripcion}" id="inlineRadio1" onclick="habilitar()" >
                        <label class="form-check-label novalidate" for="inlineRadio1">Por Dia</label>
                    </div>
                    <div class="form-check form-check-inline ">
                        <input class="form-check-input" type="radio" value="Por Mes" name="precioDescripcion" th:field="*{precioDescripcion}" id="inlineRadio1" onclick="habilitar()" >
                        <label class="form-check-label novalidate" for="inlineRadio1">Por Mes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="Por Jornada Laboral" name="precioDescripcion" th:field="*{precioDescripcion}" id="inlineRadio2" onclick="habilitar()" >
                        <label class="form-check-label novalidate" for="inlineRadio2">Por Jornada Laboral</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input " type="radio" value="Por trabajo terminado" name="precioDescripcion" th:field="*{precioDescripcion}" id="inlineRadio3" onclick="habilitar()" >
                        <label class="form-check-label novalidate " for="inlineRadio3">Por trabajo terminado</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="A acordar con el cliente" name="precioDescripcion" th:field="*{precioDescripcion}" id=""  onclick="desabilitar2()">
                        <label class="form-check-label novalidate" for="inlineRadio4">A acordar con el cliente</label>
                    </div>
                </div>
                <label for="horario">Horario De trabajo:</label>
                <div class="form-group borde required" >
                    <div class="form-check">
                        <input class="form-check-input"  type="radio" name="horario" id="exampleRadios1" value="Part Time"  th:field="*{horario}">
                        <label class="form-check-label novalidate" for="exampleRadios1">
                            Part Time
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input"  type="radio" name="horario" id="exampleRadios2" value="Full Time" th:field="*{horario}">
                        <label class="form-check-label novalidate" for="exampleRadios2">
                            Full Time
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input"  type="radio" name="horario" id="exampleRadios3" value="A acordar con el cliente" th:field="*{horario}">
                        <label class="form-check-label novalidate" for="exampleRadios3">
                            A acordar con el cliente
                        </label>
                    </div>
                </div>
                <label></label>
                <div class="form-group">
                    <label for="horario">Agrega una breve descripcion de tu servicio:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descripcion</span>
                        </div>
                        <textarea onkeyup="contarCaracteres()" id="message" name="descripcion" class="form-control" style="height:85px;"  aria-label="With textarea" minlength="92"  maxlength="365"th:field="*{descripcion}"></textarea>
                    </div>
                </div>
                 <span>Caracteres ingresados:<span class="ml-2" id="caracteres" ></span></span>
                <button class="btn   botonform bg-dark" type="submit" th:text='Guardar'>submit</button>
            </form>
        </div>
         <!-- Footer -->
        <footer class=" d-flex justify-content-center py-3">
                <span>©2020 Copyright:</span>
                <a th:href="@{/}"  class="text-success text-center"> Servicios.com</a>
        </footer>
         <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/js.js}"></script>
        <script src="https://kit.fontawesome.com/9c123ffe91.js" crossorigin="anonymous"></script>
       
    </body>
</html>
