<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <html  xmlns:th="http://www.thymeleaf.org">
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/carousel/">
            <link href = "https://fonts.googleapis.com/css2? family = Rokkitt & display = swap" rel = "stylesheet">
            <link href = "https://fonts.googleapis.com/css2? family = Caladea: ital @ 1 & display = swap" rel = "stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|PT+Sans" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Alike&family=Great+Vibes&family=Old+Standard+TT:ital@1&display=swap" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
            <link rel="stylesheet" th:href="@{css/css.css}" type="text/css">
            <link rel="stylesheet" th:href="@{/webjars/animate.css/4.1.1/animate.min.css}" type="text/css">
            <link rel="stylesheet" th:href="@{/webjars/sweetalert2/10.10.4/dist/sweetalert2.min.css}" type="text/css">
            <script th:src="@{/webjars/sweetalert2/10.10.4/dist/sweetalert2.min.js}"></script>
            <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
            <link th:href="@{/css/carrousel.css}" rel="stylesheet">
            <link rel="stylesheet" th:href="@{/css/css.css}" type="text/css">
        </head>
        <body>
            <header>
                <nav class="navbar navbar-light bg-dark " id="nav-simple">
                    <a th:href="@{/}" class="volver tituloRegistroUsuario order-1"><h1 class="  titulo text-success">Servicios.com</h1></a>
                    <h1 class="text-light  titulo-nav-simple  order-2">Imagenes</h1>
                    <a th:href="@{/}" class="volver tituloRegistroUsuario order-3"><h1 class="  titulo text-success">Servicios.com</h1></a>
                </nav>
            </header>
            <div class="container mt-5  d-flex justify-content-center" id="contenedor-card-imagenes">
                <div th:each="f, iStat : *{files}" class="order-1" >
                    <div class=" card imagenes-card m-4 " >
                        <img th:src="*{'data:image/jpg;base64,'+ f.url}" class="card-img-top  imagenes-card"  th:alt="${f.id}">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center" th:text="${f.fileName}"></li>
                            <li class="list-group-item text-center"> <a  href="# " class="btn btn-outline-secondary text-center edicion m-1" data-toggle="modal" th:data-target="'#modificar'+${iStat.index}">
                                    <i class="far fa-edit"></i></i> Modificar
                                </a></li>
                            <li  class="list-group-item text-center"><a href="#" class="btn btn-outline-danger text-center edicion m-1" data-toggle="modal" th:data-target="'#eliminar'+${iStat.index}">
                                    <i class="fas fa-trash"></i>  Eliminar
                                </a></li>
                        </ul>
                    </div>


                    <!-- Modal  eliminar imagenes -->
                    <div class="modal fade" th:id="'eliminar'+${iStat.index}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header modal-eliminar">
                                    <h5 class="modal-title " id="exampleModalLabel">Eliminar Imagen</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Esta segur@ de elimiar la imagen, no podra revertir cambios
                                </div>
                                <div class="modal-footer modal-eliminar ">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Atras</button>
                                    <a th:href="@{/eliminarImagen(id=${f.id})}"><button type="button" class="btn btn-danger">Si, Eliminar</button></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Modal modificar imagenes -->
                    <form  th:action="@{/modificarImagen}"  method="POST" enctype="multipart/form-data" name="multipleUploadForm">
                        <div class="modal fade" th:id="'modificar'+${iStat.index}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Moodificar imagen</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupFileAddon01">Subir</span>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" th:name="file" id="inputGroupFile01"
                                                       aria-describedby="inputGroupFileAddon01"  multiple/>
                                                <label class="custom-file-label" for="inputGroupFile01">Presione para elegir imagen</label>
                                            </div>
                                            <input type="text" th:name="idValue" th:value="${f.id}" hidden >
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="submit"  class="btn btn-success">Guardar Cambios</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div th:if="${cantFiles < 6}" class="card imagenes-card  m-4 ">
                    <img th:src="@{/img/agregarImagen.jpg}" class="card-img-top  imagenes-card "  alt="...">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center"><a href="#" class="btn btn-outline-success text-center edicion m-1" data-toggle="modal" th:data-target="'#guardar'">
                                <i  class="far fa-edit "></i></i> Agregar
                            </a></li>
                    </ul>
                </div>


                <!-- Modal para guardar imagenes -->
                <form  th:action="@{/guardarImagen}"  method="POST" enctype="multipart/form-data" name="multipleUploadForm">
                    <div class="modal fade" th:id="guardar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Guardar imagen</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupFileAddon01">Subir</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" th:name="file" id="inputGroupFile01"
                                                   aria-describedby="inputGroupFileAddon01"  multiple/>
                                            <label class="custom-file-label" for="inputGroupFile01">Presione para elegir imagen</label>
                                        </div>
                                        <input type="text" th:name="idServicio" th:value="${servicio.idServicio}" hidden >
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit"  class="btn btn-success">Subir imagen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </body>
        <!-- Footer -->
        <!-- Footer -->
        <footer class=" d-flex justify-content-center py-3">
            <span>©2020 Copyright:</span>
            <a th:href="@{/}"  class="text-success text-center"> Servicios.com</a>
        </footer>
        <script type="text/javascript" th:src="@{/js/js.js}"></script>
        <script src="https://kit.fontawesome.com/9c123ffe91.js" crossorigin="anonymous"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </html>
