<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/carousel/">
        <link href = "https://fonts.googleapis.com/css2? family = Rokkitt & display = swap" rel = "stylesheet">
        <link href = "https://fonts.googleapis.com/css2? family = Caladea: ital @ 1 & display = swap" rel = "stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|PT+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alike&family=Great+Vibes&family=Old+Standard+TT:ital@1&display=swap" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link th:href="@{/css/let.css}" rel="stylesheet">
        <title>Acceso Denegado</title>
    </head>
    <body>
        <div class="center">
            <h1 class="letter" >Ups...  Error</h1>
            <i class="fas fa-cogs fa-8x icono"></i>
            <p class="text-center "><span th:text="${error}"> - </span> <span th:text="${status}"></span></p>
        </div>


        <script type="text/javascript" th:src="@{/js/js.js}"></script>
        <script th:src="@{/js/jquery.lettering.js}"></script>
        <script src="https://kit.fontawesome.com/9c123ffe91.js" crossorigin="anonymous"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
