<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/headFooter :: head">
        <body>
            <header th:replace="layout/headerSimple :: navSimple"></header>
            <div class="container-md  d-flex justify-content-center" style="padding-top: 100px; ">
                <form th:action="@{/forgot_password}" method="post">
                    <div class="card text-dark bg-light mb-3 " style="max-width: 40rem;">
                        <div class="card-header">Recuperar Contraseña</div>
                        <div class="card-body text-secondary">
                            <h5 class="card-title">Ingrese su correo</h5>
                            <p class="card-text ">Le enviaremos el link de restablecimiento a su correo para que pueda ingresar una nueva  contraseña</p>
                        </div>
                        <div class="container">
                            <p>
                                <input type="email" name="email" class="form-control" placeholder="Ingrese su emaill" required autofocus/>
                            </p>         
                            <p class="text-center">
                                <input type="submit" value="Enviar" class="btn btn-success" style="width: 120px" />
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <footer th:replace="layout/headFooter :: footer"></footer>
            <section th:replace="layout/alerts :: alerts"></section>
        </body>
</html>
