<!DOCTYPE html>
<html>
    <head xmlns:th="http://www.thymeleaf.org">
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <a th:href="@{/agregar}">Crear Servicio</a>
        <div th:if="${servicios != null and !servicios.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Celular</th>
                    <th>Horario</th>
                    <th>Email</th>
                    <th>Precio</th>
                    <th>Precio Descripcion</th>
                    <th>Descripcion</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>

                <tr th:each="servicio: ${servicios}">
                    <td th:text="${servicio.nombre}">mostrar nombre</td>
                    <td th:text="${servicio.celular}">mostrar celular</td>
                    <td th:text="${servicio.horario}">mostrar horario</td>
                    <td th:text="${servicio.email}">mostrar email</td>
                    <td th:text="${servicio.precio}">mostrar precio</td>
                     <td th:text="${servicio.precioDescripcion}">mostrar preciodescripcion</td>
                      <td th:text="${servicio.descripcion}">mostrar descripcion</td>
                    <td><a th:href="@{/editar/} + ${servicio.idServicio}" th:text="Editar"/></td>
                    <td><a th:href="@{/eliminar(idServicio=${servicio.idServicio})}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
        <div th:if="${servicios == null or servicios.empty}">
            La lista de servicios esta vacia
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
