<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/headFooter :: head">
        <body>
            <header th:replace="layout/headerPrincipal :: headerPrincipal"  ></header>
            <section th:replace="layout/headerPrincipal :: card-listado-promocion"></section>
            <section th:replace="layout/alerts :: alerts"></section>
            <section th:replace="layout/modals :: ModalIncioSesion"></section>
            <section th:replace="layout/modals :: ModalMensajePromocion"></section>
            <footer th:replace="layout/headFooter :: footer"></footer>
        </body>
</html>