<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Agregar Servicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
         <header th:replace="layout/plantilla :: header"></header>
        <h2>Datos De la Servicio</h2>
        <a th:href="@{/}">Regresar</a>
        <br>
        <form th:action="@{/guardar}" method="post" th:object="${servicio}">
            <input type="hidden" name="idServicio" th:field="*{idServicio}">
            <br>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" th:field="*{nombre}">
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error  nombre</span>
            <br>
            <label for="celular">Celular:</label>
            <input type="text" name="celular" th:field="*{celular}">
             <span th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}">Error celular</span>
            <br>
            <label for="horario">Horario:</label>
            <input type="text" name="horario" th:field="*{horario}">
             <span th:if="${#fields.hasErrors('horario')}" th:errors="*{horario}">Error horario</span>
            <br>
            <br>
            <label for="precio">Precio:</label>
            <input type="text" name="precio" th:field="*{precio}">
             <span th:if="${#fields.hasErrors('horario')}" th:errors="*{precio}">Error precio</span>
            <br>
            <br>
            <label for="preciodesc">Precio desc:</label>
            <input type="text" name="precioDescripcion" th:field="*{precioDescripcion}">
             <span th:if="${#fields.hasErrors('precioDescripcion')}" th:errors="*{precioDescripcion}">Error precioDescripcion</span>
            <br>
            <br>
            <label for="descripcion">descripcion:</label>
            <input type="text" name="descripcion" th:field="*{descripcion}">
             <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Error descripcion</span>
            <br>
            <label for="email">Email:</label>
            <input type="text" name="email" th:field="*{email}">
            <br>
            <input type="submit" name="guardar" value="Guardar">
        </form>
    </body>
    <footer th:replace="layout/plantilla :: footer"></footer>
</html>
