<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/headFooter :: head">
        <body>
            <header th:replace="layout/headerSimple :: navSimple"></header>
            <section th:replace="layout/formResetPassword :: ResetPasswordModify"></section>
            <footer th:replace="layout/headFooter :: footer"></footer>
            <script>
                function checkPasswordMatch(fieldConfirmPassword) {
                    if (fieldConfirmPassword.value != $("#password").val()) {
                        fieldConfirmPassword.setCustomValidity("Las contraseñas no coinciden!");
                    } else {
                        fieldConfirmPassword.setCustomValidity("");
                    }
                }
            </script>
            <section th:replace="layout/alerts :: alerts"></section>
        </body>
</html>
