<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/headFooter :: head">
        <body>
            <header th:replace="layout/headerSimple :: navSimple"></header>
            <div class="container-md  d-flex justify-content-center"  style="padding-top: 100px;">
                <form th:action="@{/reset_password}" method="post">
                    <input type="hidden" name="token" th:value="${token}" />
                    <div class="card text-dark bg-light mb-3 " style="max-width: 40rem;">
                        <div class="card-header">Restablecer Contraseña</div>
                        <div class="card-body">
                            <h5 class="card-title">Ingrese su nueva contraseña</h5>
                            <p class="card-text">A continuación podra modificar su contraseña para poder ingresar al sistema</p>
                            <p>
                                <input type="password" name="password" id="password"  min="8" class="form-control"
                                       placeholder="Nueva contraseña" required autofocus />
                            </p>         
                            <p>
                                <input type="password" class="form-control" min="8" placeholder="Confirme su nueva contraseña"
                                       required oninput="checkPasswordMatch(this);" />
                            </p>         
                            <p class="text-center">
                                <input type="submit" value="Cambiar contraseña" class="btn btn-success" />
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <footer th:replace="layout/headFooter :: footer"></footer>
            <script>
                function checkPasswordMatch(fieldConfirmPassword) {
                    if (fieldConfirmPassword.value != $("#password").val()) {
                        fieldConfirmPassword.setCustomValidity("Las contraseñas no coinciden!");
                    } else {
                        fieldConfirmPassword.setCustomValidity("");
                    }
                }
            </script>
  <section th:replace="layout/alerts :: alerts"></section>
        </body>
</html>
