<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/headFooter :: head">
    <body>
     <header th:replace="layout/headers :: headerServiciosUsuario"></header>
    <section th:replace="layout/serviciosUsuario :: serviciosUsuario"></section>
    <section th:replace="layout/serviciosUsuario :: btnAgregarServicio"></section>
    <footer th:replace="layout/headFooter :: footer"></footer>
</body>
</html>
